frontend/race/build_xml_race.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- Created with Liquid Technologies Online Tools 1.0 (https://www.liquid-technologies.com) -->
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="races">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" name="race">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="race_name" type="xs:string" />
              <xs:element name="date_time" type="xs:date" />
              <xs:element name="distance" type="xs:unsignedShort" />
              <xs:element name="no_horses" type="xs:unsignedByte" />
            </xs:sequence>
            <xs:attribute name="race_id" type="xs:unsignedInt" use="required" />
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>